.half-width-margin-right{
  margin-right: 7px;
}
.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.full-width {
  width: 100%;
}
.half-width{
  width: 50%;
}
.margin{
  margin: 0 10px;
}
.slider-remote {
  margin: 15px auto;
  text-align: center;
}
.flex{
  display: flex;
}

.warning-missing-fields{
  padding-top: 10px;
  display: block;
  color: red;
  font-weight: 500;
}

/* Select text color */
::ng-deep .mat-select-value *{    
  color: black!important;  }