body{
    background: #edf1f5;
    margin-top:20px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 0 solid transparent; */
    /* border-radius: 0; */
    border-radius: 44px;
    border: 3px solid #1C5B92;
    overflow: hidden;
}
.btn-circle.btn-lg, .btn-group-lg>.btn-circle.btn {
    width: 50px;
    height: 50px;
    padding: 14px 15px;
    font-size: 18px;
    line-height: 23px;
}
.text-muted {
    color: #8898aa!important;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn-circle {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 10px;
}
.user-table tbody tr .category-select {
    max-width: 150px;
    /* border-radius: 20px; */
}

td > span, td > h5{
    background-color: #B9D2E8;
    font-weight: bold;
}

tr > *{
    background-color: #B9D2E8;
}

.card-body, .card-body *{
    background-color: #1C5B92;
}
.card-title{
    color: white;
}
/* .card-body{
    border-radius: 50px 50px 0 0;
} */
/* table{
    border-radius: 0 0 50px 50px;
} */
/* .table-responsive{
    border-radius: 0 0 50px 50px;
} */
thead *{
    background-color: #1C5B92;
    color: white;
}
tbody{
    border-top: 2px solid #9FC6E9!important;
}
