<!-- Close dialog button -->
<span mat-dialog-close matTooltip="Cerrar" class="mat-close-button">
  <mat-icon>close</mat-icon>
</span>

<h4>Editar proceso: <span>{{editedSelection.name}}</span></h4>

<form [formGroup]="editSelectionForm" novalidate class="form">

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Nombre</mat-label>
    <input placeholder="Nombre" formControlName="name" matInput #message maxlength="256" value={{editedSelection.name}}
      (input)="editedSelection.name=$any($event.target).value">
    <mat-hint align="start"><strong>Nombre</strong> </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    <mat-error *ngIf="!editSelectionForm.get('name')?.errors?.required">
      El nombre debe tener al menos 4 caracteres
    </mat-error>
    <mat-error
      *ngIf="editSelectionForm.get('name')?.invalid && (editSelectionForm.get('name')?.dirty || editSelectionForm.get('name')?.touched) && editSelectionForm.get('name')?.errors?.required">
      El nombre es obligatorio
    </mat-error>
  </mat-form-field>

  <br>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Requerimientos</mat-label>
    <input placeholder="Requerimientos" formControlName="requirements" matInput value={{editedSelection.requirements}}
      (input)="editedSelection.requirements=$any($event.target).value">
    <mat-error *ngIf="!editSelectionForm.get('requirements')?.errors?.required">
      Los requerimientos deben tener al menos 4 caracteres
    </mat-error>
    <mat-error
      *ngIf="editSelectionForm.get('requirements')?.invalid && (editSelectionForm.get('requirements')?.dirty || editSelectionForm.get('requirements')?.touched) && editSelectionForm.get('requirements')?.errors?.required">
      Los requerimientos son obligatorio
    </mat-error>
  </mat-form-field>

  <br>

  <div class="flex">
    
    <mat-form-field class="half-width half-width-margin-right" appearance="fill">
      <mat-label>Id proyecto</mat-label>
      <input type="number" placeholder="Id proyecto" formControlName="project_id" matInput
        value={{editedSelection.project_id}} (input)="editedSelection.project_id=$any($event.target).value"
        placeholder="Ej: Java">
      <mat-error
        *ngIf="editSelectionForm.get('project_id')?.invalid && (editSelectionForm.get('project_id')?.dirty || editSelectionForm.get('project_id')?.touched) && editSelectionForm.get('project_id')?.errors?.required">
        La id del proyecto es obligatoria
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="half-width">
      <mat-label>Sector</mat-label>
      <input placeholder="Sector" formControlName="sector" matInput value={{editedSelection.sector}}
        (input)="editedSelection.sector=$any($event.target).value">
      <mat-error *ngIf="!editSelectionForm.get('sector')?.errors?.required">
        El sector debe tener al menos 4 caracteres
      </mat-error>
      <mat-error
        *ngIf="editSelectionForm.get('sector')?.invalid && (editSelectionForm.get('sector')?.dirty || editSelectionForm.get('sector')?.touched) && editSelectionForm.get('sector')?.errors?.required">
        El sector es obligatorio
      </mat-error>
    </mat-form-field>

  </div>

  <div class="flex">
    <mat-form-field class="half-width half-width-margin-right" appearance="fill">
      <mat-label>Estado</mat-label>
      <input placeholder="Estado" formControlName="status" matInput type="text" value={{editedSelection.status}}
        (input)="editedSelection.status=$any($event.target).value">
      <mat-error
        *ngIf="editSelectionForm.get('status')?.invalid && (editSelectionForm.get('status')?.dirty || editSelectionForm.get('status')?.touched) && editSelectionForm.get('status')?.errors?.required">
        El estado es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field class="half-width" appearance="fill">
      <mat-label>Prioridad</mat-label>
      <input placeholder="Prioridad" formControlName="priority" matInput value={{editedSelection.priority}}
        (input)="editedSelection.priority=$any($event.target).value" placeholder="Ej: Java">
      <mat-error *ngIf="!editSelectionForm.get('priority')?.errors?.required">
        La prioridad debe tener al menos 4 caracteres
      </mat-error>
      <mat-error
        *ngIf="editSelectionForm.get('priority')?.invalid && (editSelectionForm.get('priority')?.dirty || editSelectionForm.get('priority')?.touched) && editSelectionForm.get('priority')?.errors?.required">
        La prioridad es obligatoria
      </mat-error>
    </mat-form-field>

  </div>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Elige una fecha</mat-label>
    <input formControlName="start_date" value={{editedSelection.start_date}} matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="flex">
    <mat-form-field appearance="fill" class="half-width half-width-margin-right">
      <mat-label>Localización</mat-label>
      <input type="localización" matInput formControlName="location" placeholder="Ej. jorge.fernandez@nttdata.com"
        value={{editedSelection.location}} (input)="editedSelection.location=$any($event.target).value">
      <mat-error
        *ngIf="!editSelectionForm.get('location')?.errors?.required && (editSelectionForm.get('location')?.errors?.pattern)">
        La localización debe tener al menos 4 caracteres
      </mat-error>
      <mat-error
        *ngIf="editSelectionForm.get('location')?.invalid && (editSelectionForm.get('location')?.dirty || editSelectionForm.get('location')?.touched) && editSelectionForm.get('location')?.errors?.required">
        La localización es obligatoria
      </mat-error>
    </mat-form-field>

    <div class="slider-remote half-width"  appearance="fill">
      <mat-slide-toggle placeholder="Remoto" formControlName="remote" matInput [(ngModel)]="editedSelection.remote"
        (input)="editedSelection.remote=$any($event.target).value" placeholder="Ej: Java"></mat-slide-toggle>
      <mat-label> Trabajo en remoto </mat-label>
    </div>

  </div>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Descripción</mat-label>
    <textarea placeholder="Descripcion" formControlName="description" matInput #message maxlength="256"
      value={{editedSelection.description}} (input)="editedSelection.description=$any($event.target).value"></textarea>
    <mat-hint align="start"><strong>Descripción</strong> </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    <mat-error *ngIf="!editSelectionForm.get('description')?.errors?.required">
      La descripción debe tener al menos 4 caracteres
    </mat-error>
    <mat-error
      *ngIf="editSelectionForm.get('description')?.invalid && (editSelectionForm.get('description')?.dirty || editSelectionForm.get('description')?.touched) && editSelectionForm.get('description')?.errors?.required">
      La descripción es obligatoria
    </mat-error>
  </mat-form-field>

</form>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close matTooltip="Cancelar" color="button-cancel">Cancelar</button>

  <!-- Use a function to confirm the dialog instead -->
  <button mat-raised-button [disabled]="data.selection.end_date" (click)="confirmEnd()" matTooltip="Finalizar proceso" color="button-end">Finalizar</button>
  <button mat-raised-button (click)="confirmDelete()" matTooltip="Eliminar" color="button-delete">Eliminar</button>
  <button mat-raised-button [disabled]="!editSelectionForm.valid" [mat-dialog-close]="true" matTooltip="Guardar"
    color="button-save" mat-stroked-button="openSnackBar()" (click)="saveSelection()">Guardar</button>
</mat-dialog-actions>
