.half-width-margin-right{
  margin-right: 7px;
}
.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.full-width {
  width: 100%;
}
.half-width{
  width: 50%;
}
.margin{
  margin: 0 10px;
}
.slider-remote {
  margin: 15px auto;
  text-align: center;
}
.flex{
  display: flex;
}
/* ********************** */

/* Buttons CSS */
/* Button color tag translates into mat- */
/* End selection button */
.mat-button-end {
  background-color: rgb(255, 145, 0);
  color: #fff;
}
.mat-button-end:hover {
  background-color: rgb(255, 187, 0);
}
