body {
  background-color: #eee
}

.card {
  border: none;
  border-radius: 5px;
  height: 200px;
  /* margin-top: 20px; */
  /* align-items: center; */
}

.calendar {
  border-radius: 5px;
  margin-left: 77px;
  width: 300px;
}

.pointer {
  cursor: pointer;
}

.card-bg-image {
  background-size: cover;
}

::ng-deep .mat-tooltip {
  font-size: 15px;
  white-space: pre-wrap;
  color: gray !important;
  background-color: rgba(255, 255, 255, .9);
  border:1px solid gray;
  border-radius: 5px;
  max-width: unset !important;
 }
