.card {
  border: none;
  border-radius: 5px;
  height: 200px;
  /* margin-top: 20px; */
  /* align-items: center; */
}

.calendar {
  border-radius: 5px;
  margin-left: 65px;
  margin-top: 16px;
  width: 300px;
}

.pointer {
  cursor: pointer;
}

.card-bg-image {
  background-size: cover;
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  display: inline-block; /* para que solo ocupe el ancho de la imagen */
  width: 400px;
}

.card-title {
  right: 1rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 25px;
  color: white;
  background-image: linear-gradient(
    to right,
    #1C5B92,
    #1C5B92 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  display: inline-block;
  padding: 15px 0;
  margin-left: 10px;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.card-title:before{
  content: '';
  background: #1C5B92;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.card-title:hover {
 background-position: 0;
}

.card-title:hover::before{
  width: 100%;
}


