<div class="card-columns mt-5 mb-3">
  <div class="row">
    <div class="col-md-4">
      <div class="card p-3 mb-2" style="background-color: #b2e2f2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="ms-2 c-details">
              <h1 href="#" class="card-link">Administración</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card p-3 mb-2" style="background-color:#c5c6c8">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="ms-2 c-details">
            <span type="button" href="/people">Candidatos</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card p-3 mb-2" style="background-color:#ffda9e">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="ms-2 c-details">
              <span type="button" href="/selection">Procesos de selección</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card p-3 mb-2" style="background-color: #fdf9c4">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="ms-2 c-details">
              <span type="button" href="/interview">Entrevistas</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-3 mb-2" style="background-color: #fabfb7">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="ms-2 c-details">
             <span type="button" href="#">Estadísticas</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


