<!-- mat-elevation-z2 is a material class to apply the shadow, border radius and card aspect -->
<div class="new-interview mat-elevation-z2">
    <div>
        <h5>Candidato</h5>
        <div class="flexme">
            <mat-form-field matTooltip="Estado del candidato" class="example-full-width input-disabled" appearance="fill">
                <mat-label>Estado</mat-label>
                <input class="black" matInput disabled value={{newInterviewCandidate?.state}}>
            </mat-form-field>
            <span>&nbsp;&nbsp;</span>
            <mat-form-field matTooltip="Nombre del candidato" class="example-full-width input-disabled" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput disabled value={{newInterviewCandidate?.name}}>
            </mat-form-field>
            <span>&nbsp;&nbsp;</span>
            <mat-form-field matTooltip="Apellido del candidato" class="example-full-width input-disabled" appearance="fill">
                <mat-label>Apellido</mat-label>
                <input matInput disabled value={{newInterviewCandidate?.surname}}>
            </mat-form-field>
        </div>
        <!-- Candidates List component Expansion panel-->
        <div #candidates>
            <mat-expansion-panel #candidatesPanel>
                <mat-expansion-panel-header>
                    <mat-panel-title> Candidatos </mat-panel-title>
                    <mat-panel-description>
                        Haz clic para expandir o contraer la lista de candidatos
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-list-candidates [newInterviewView]="true" (sendDataToInterview)="getCandidate($event)"></app-list-candidates>
            </mat-expansion-panel>
        </div>
    </div>

    <br><br>

    <div>
        <h5>Proceso de selección</h5>
        <div class="flexme">
            <mat-form-field matTooltip="Número del proceso" class="example-full-width input-disabled" appearance="fill">
                <mat-label>Número</mat-label>
                <input matInput disabled value={{newInterviewSelection?.id}}>
            </mat-form-field>
            <span>&nbsp;&nbsp;</span>
            <mat-form-field matTooltip="Nombre del proceso" class="example-full-width input-disabled" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput disabled value={{newInterviewSelection?.name}}>
            </mat-form-field>
            <span>&nbsp;&nbsp;</span>
            <mat-form-field matTooltip="Requisitos del proceso" class="example-full-width input-disabled" appearance="fill">
                <mat-label>Requisitos</mat-label>
                <input matInput disabled value={{newInterviewSelection?.requirements}}>
            </mat-form-field>
        </div>
        <!-- Selections List component Expansion panel-->
        <div #selections>
            <mat-expansion-panel #selectionsPanel>
                <mat-expansion-panel-header>
                    <mat-panel-title> Proceso de selección </mat-panel-title>
                    <mat-panel-description>
                        Haz clic para expandir o contraer la lista de Procesos
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-list-selection [newInterviewView]="true" (sendDataToInterview)="getSelection($event)"></app-list-selection>
            </mat-expansion-panel>
        </div>
    </div>

    <br><br>

    <div>
        <div class="flexme">
            <div class="flex-date-status">
                <div>
                    <h5>Fecha</h5>
                    <mat-form-field class="padding-right" matTooltip="Fecha de la entrevista">
                        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Elige un fecha y hora"
                            [(ngModel)]="newInterviewDate">
                        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker>
                            <ng-template>
                                <div class="flexMe">
                                    <mat-icon>check_circle_outline</mat-icon>
                                    <span>&nbsp;Aceptar</span>
                                </div>
                            </ng-template>
                        </ngx-mat-datetime-picker>
                    </mat-form-field>

                </div>
                <span>&nbsp;&nbsp;</span>
                <span>&nbsp;&nbsp;</span>
                <div>
                    <h5>Estado</h5>
                    <mat-form-field class="padding-right select" appearance='fill' appearance="fill">
                        <mat-label>Estado de la entrevista</mat-label>
                        <mat-select [(ngModel)]="newInterviewStatus" [(value)]="newInterviewStatus">
                            <mat-option value="Planificada">Planificada</mat-option>
                            <mat-option value="Realizada">Realizada</mat-option>
                            <mat-option value="Cancelada">Cancelada</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <span>&nbsp;&nbsp;</span>
                <span>&nbsp;&nbsp;</span>
            </div>
            
            <span>&nbsp;&nbsp;</span>

            <div>
                <h5>Entrevistador</h5>
                <mat-form-field matTooltip="Nombre del entrevistador" class="example-full-width input-disabled" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput disabled value={{newInterviewAppUser?.name}}>
                </mat-form-field>
            </div>
            <div>
                <h5>&nbsp;</h5>
                <mat-form-field matTooltip="Email del entrevistador" class="example-full-width input-disabled" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput disabled value={{newInterviewAppUser?.email}}>
                </mat-form-field>
            </div>
            <span>&nbsp;&nbsp;</span>
        </div>
        <!-- Interviewers List component Expansion panel-->
        <div #interviewer>
            <mat-expansion-panel #interviewerPanel>
                <mat-expansion-panel-header>
                    <mat-panel-title> Entrevistador </mat-panel-title>
                    <mat-panel-description>
                        Haz clic para expandir o contraer la lista de Entrevistadores
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-board-admin [newInterviewView]="true" (sendDataToInterview)="getInterviewer($event)"></app-board-admin>
            </mat-expansion-panel>
        </div>
    </div>

    <br>
    <div class="align-to-end">
        <!-- Show warning text if any field is missing -->
        <span class="warning-missing-fields" *ngIf="!newInterviewDate || !newInterviewAppUser || !newInterviewCandidate || !newInterviewSelection">Todos los campos son requeridos *</span>
        <!-- Disable create button if any field is missing -->
        <button matTooltip="Crear Entrevista" mat-raised-button [disabled]="!newInterviewDate || !newInterviewAppUser || !newInterviewCandidate || !newInterviewSelection" (click)="createInterview()" color="button-save">Crear Entrevista </button>
    </div>

</div>