.new-interview{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.input-disabled input{
    color: black;
}

.flexMe{
    display: flex;
    align-items: center;
}
.mat-button-new {
    background-color: #1c5b92;
    color: #fff;
}
.mat-button-new:hover {
    background-color: #007bff;
}
::ng-deep .ng-tns-c190-52 .ng-star-inserted .mat-stroked-button{
    background-color: #28A745;
    color: #fff;
}

::ng-deep .ng-tns-c190-52 .ng-star-inserted .mat-stroked-button:hover {
    background-color: #05c732;
}
.flexme{
    display: flex;
    justify-content: center;
}
mat-form-field{
    /* flex-grow: 1; */
    width: 33%;
}
.not-grow{
    /* width: 30%; */
    padding: 0 25px 0 0;
    /* flex-grow: 0; */
}
h5{
    color: #1c5b92;
    border-bottom: 1px solid #1c5b92;
}

.warning-missing-fields{
    color: red;
    font-weight: 600;
    float: left;
}


.align-to-end{
    text-align: right;
}
.align-to-end > button{
    margin-left: 8px;
}

/* Expansion panel color */
.mat-expansion-panel-header-title {
    color: #000
}
.mat-expansion-panel-header{
    background-color: #9fc6e96e;
}
/* 
::ng-deep .mat-snack-bar-container{
  color: black !important;
  background-color: white!important;
  border: 1.5px solid #1c5b92 !important;
  text-align: center;
}
::ng-deep .mat-simple-snackbar-action {
  color: black;
}

::ng-deep .mat-simple-snackbar span {
  margin: auto;
  text-align: center;
  font-size: 18px;
} */
