.bg-navbar {
    background-color: #1C5B92 !important;
}
.iconBig{
    font-size: 5rem;
    color: rgb(90, 90, 90);
}
.lightBlue{
    background-color: #d1e9ff;
}
.nav-link:hover{
    color: #fff !important;
    background-color: #99B5CE;
}
.nav-link{
    color: #ffffff !important;
    /* padding: 20px 0; */
    font-size: 20px;
}
.nav-item{
    padding: 0 15px;
}
.login-text{
    font-size: 12px;
}
::ng-deep .mat-menu-content{
    /* background-color: #83b9e7; */
    text-align: center;
}
.mat-button-login{
    background-color: #28A745;
    color: #fff;
}
.alignRight{
    text-align: right;
}
