@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Titillium+Web:wght@300&display=swap');
 
* {
    font-family: 'Titillium Web', sans-serif;
}
 .navbar {
    background-color: #1C5B92;
 }

 .nav-link {
    color: #E7E9E8;
 }