<div class="container" *ngFor="let interview of interviews">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-5 mt-5">
                <div class="table-responsive">
                    <table class="table user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium">Entrevista #{{interview.id}} para el {{interview.interview_date}}, creada el {{interview.creation_date}}</th>
                            </tr>
                        </thead>
                    </table>
                    <table class="table user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium">Candidato</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.candidate.name}}</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.candidate.surname}}</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.candidate.email}}</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.candidate.skills}}</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.candidate.studies}}</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.candidate.location}}</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Experiencia de {{interview.candidate.experience}} años</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.candidate.hired ? 'Contratado' : 'No contratado'}}</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.candidate.state}}</th>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium">Entrevistador</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.interviewer.name}}</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.interviewer.username}}</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.interviewer.email}}</th>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium">Selección</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium">Desde el {{interview.selection.start_date}} {{interview.selection.end_date ? ' hasta el {{interview.selection.end_date}}' : ''}}</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.selection.name}}</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.selection.description}}</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.selection.requirements}}</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.selection.location}}</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.selection.sector}}</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.selection.status}}</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.selection.priority}}</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.selection.remote ? 'Remoto' : 'Presencial'}}</th>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.feedback ? 'Comentario' : ''}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium">{{interview.feedback}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>