<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>


  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> username </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>


  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>


  <ng-container matColumnDef="roles">
    <th mat-header-cell *matHeaderCellDef> roles </th>
    <td mat-cell *matCellDef="let element"> {{arrayToString(element.roles)}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->



<p>Home > Admin > Users List</p>

<div class="searchTableFlex">
  <div class="searchBar">
    <mat-form-field class="searchBar" appearance="standard">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder='Ej.: "Javier"' #input>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button (click)="openDialogNewUser()" color="button-new">Crear Usuario <mat-icon>add_circle_outline</mat-icon></button>
  </div>

</div>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id" class="oscuro">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="oscuro"> Núm. </th>
        <td mat-cell matTooltip="Número de usuario" *matCellDef="let row" [ngClass]="{'make-grey': !row.active }"> {{row.id}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell matTooltip="Nombre" *matCellDef="let row" [ngClass]="{'make-grey': !row.active }"> {{row.name}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre usuario </th>
        <td mat-cell matTooltip="Nombre de usuario en la aplicación" *matCellDef="let row" [ngClass]="{'make-grey': !row.active }"> {{row.username}} </td>
      </ng-container>
  
      <!-- Fruit Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell matTooltip="Email" *matCellDef="let row" [ngClass]="{'make-grey': !row.active }"> {{row.email}} </td>
      </ng-container>
      <!-- Fruit Column -->
      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Roles </th>
        <!-- <td mat-cell matTooltip="Roles" *matCellDef="let row" [ngClass]="{'make-grey': !row.active }"> {{arrayToString(row.roles)}} </td> -->
        <!-- <td mat-cell matTooltip={{arrayToString2(row.roles)}} *matCellDef="let row" [ngClass]="{'make-grey': !row.active }"> <div *ngFor="let role of row.roles">{{role.name}}</div> </td> -->
        <td mat-cell matTooltip={{rolesToShortNameLetter(row.roles)}} *matCellDef="let row" [ngClass]="{'make-grey': !row.active }"> <div [innerHTML]="rolesToSingleLetter(row.roles)"></div> </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"(click)="openDialog(row)"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay datos para la búsqueda "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
  
  </div>
  
<br>
<br>
<br>
<br>
<br>
<br>

<!-- 
  
<div class="container">
    <header class="jumbotron">
        <p>{{ content }}</p>
    </header>
</div> -->
<!-- <div>
    <div *ngFor="let user of usersList">
        <p>{{user.name}}</p>
        <h3>{{user.email}}</h3>
        <h3>{{user.name}}</h3>
    </div>
</div> -->

<!-- 
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-5 mt-5">
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium pl-4">Id</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Usuario</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Nombre</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Roles</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Gestión</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Activo</th>
                            </tr>
                        </thead>
                        <tbody app-list  [user] = "user" *ngFor="let user of appUsersTest">
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->