<body>
<!-- Jumbotron -->
<!-- <div class="bg-image p-5 shadow-1-strong"
    style="background-image: url('https://i.ibb.co/8gqHvsF/fondo.jpg');"> -->
    <div class="container mx-auto py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center w-65">
            <div class="col col-xl-5">
                <a><img src="https://i.ibb.co/XbWYkTw/NTT-DATA-Logo-Black.png" alt="NTT-DATA-Logo-Black" class="logo align-items-center"></a>
                <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre de usuario / Correo" name="username" [(ngModel)]="form.username" required
                            #username="ngModel" />
                        <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
                            ¡El nombre de usuario es requerido!
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Contraseña" name="password" [(ngModel)]="form.password" required
                            minlength="3" #password="ngModel" />
                        <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                            <div *ngIf="password.errors['required']">La contraseña es requerida</div>
                            <div *ngIf="password.errors['minlength']">
                                La contraseña debe de tener al menos 6 caracteres
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block d-grid gap-2 col-5 mx-auto">Entrar</button>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                            Login failed: {{ errorMessage }}
                        </div>
                    </div>
                </form>
                <div class="alert alert-success" *ngIf="isLoggedIn">
                    Logeado como {{ loggedUser }}.
                </div>

            </div>
        </div>
    </div>  

<!-- Jumbotron -->
<section class="vh-50 align-items-center">
    


</section>
</body>