<!-- Background image -->
<div class="centerMe">
    <img src="/assets/img/NTT_DATA_logo.png" alt="NTT DATA">
    <a href="./login" class="btn btn-lg login-button" title="Entrar" type="button">Entrar</a>
</div>

<!-- Background image -->

<!-- <div class="container">
    <div class="position-relative d-flex justify-content-center align-items-center">
        <a class="bg-image" href="/login"><img src="#"
            alt="fondologo" /></a>
        <a href="./login" class="btn btn-lg" type="button">Entrar</a>
    </div>
</div> -->

