
/* ********************** */

/* Table column width*/
/* Make "roles" and "add to" row not so big */
/* mat-colum- next to the matColumnDef name to apply style to that column*/
.mat-column-id {
    width: 10%;
}
.mat-column-name {
    width: 27%;
}
.mat-column-username {
    width: 27%;
}
.mat-column-email {
    width: 27%;
}
.mat-column-roles {
    width: 5%;
}
.mat-column-create {
    text-align: center;
    width: 5%;
}

/* ********************** */

/* Class used to change background of non active users row */
.make-grey{
    background-color: rgba(202, 202, 202, 0.158);
    color: rgb(172, 171, 171);
}

/* ********************** */

/* role letter style */
.role-letter{
    padding: 0 3px;
}