
/* ********************** */

/* Table column width*/
/* Make "roles" and "add to" row not so big */
.mat-column-id {
    width: 10% !important;
}
.mat-column-name {
    width: 27% !important;
}
.mat-column-username {
    width: 27% !important;
}
.mat-column-email {
    width: 27% !important;
}
.mat-column-roles {
    width: 5% !important;
}
.mat-column-create {
    text-align: center;
    width: 5% !important;
}

/* ********************** */

/* Class used to change background of non active users row */
.make-grey{
    background-color: rgba(202, 202, 202, 0.158);
    color: rgb(172, 171, 171);
}

/* ********************** */

/* role letter style */
.role-letter{
    padding: 0 3px;
}