.container {
    align-content: center;
    margin-top: 6%;
}

.logo {
    width:80%;
    height:80%;
    display: block;
    margin: 0px auto;
   } 

.btn {
    background-color: #00C1CD;
    color: #E7E9E8;
    align-content: center;
}

*{
    border-radius: 30px;
}


.form-control {
    background-color: #D9D9D9;

}

.row {
    border: #1C5B92 2px solid;
}

.form-group {
    margin: 8%;
}