<!--<body>-->
<!-- Jumbotron -->
<!-- <div class="bg-image p-5 shadow-1-strong"
    style="background-image: url('https://i.ibb.co/8gqHvsF/fondo.jpg');"> -->
    <!--<div class="container mx-auto py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center w-65">
            <div class="col col-xl-5">
                <a><img src="https://i.ibb.co/XbWYkTw/NTT-DATA-Logo-Black.png" alt="NTT-DATA-Logo-Black" class="logo align-items-center"></a>
                <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre de usuario / Correo" name="username" [(ngModel)]="form.username" required
                            #username="ngModel" />
                        <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
                            ¡El nombre de usuario es requerido!
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Contraseña" name="password" [(ngModel)]="form.password" required
                            minlength="3" #password="ngModel" />
                        <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                            <div *ngIf="password.errors['required']">La contraseña es requerida</div>
                            <div *ngIf="password.errors['minlength']">
                                La contraseña debe de tener al menos 6 caracteres
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block d-grid gap-2 col-5 mx-auto">Entrar</button>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                            Login failed: {{ errorMessage }}
                        </div>
                    </div>
                </form>
                <div class="alert alert-success" *ngIf="isLoggedIn">
                    Logeado como {{ loggedUser }}.
                </div>

            </div>
        </div>
    </div>  -->

<!-- Jumbotron -->
<!--<section class="vh-50 align-items-center">
    


</section>-->


<mat-card style="background-color: #ffffffb5;">
    <mat-card-title>
        <img src="https://i.ibb.co/XbWYkTw/NTT-DATA-Logo-Black.png" alt="NTT-DATA-Logo-Black" class="logo">
    </mat-card-title>
    
        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate [formGroup]="loginForm" novalidate>
            <!-- <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Nombre de usuario / Correo" name="username" [(ngModel)]="form.username" required
                    #username="ngModel"/>
                    <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
                        ¡El nombre de usuario es requerido!
                    </div>
                </mat-form-field>
            </p> -->
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombre de usuario en la aplicación</mat-label>
                <input placeholder="Nombre de usuario" formControlName="username" matInput (input)="loginForm.username=$any($event.target).value">
                <mat-error *ngIf="!loginForm.get('username')?.errors?.required">
                    El nombre debe tener al menos 4 caracteres
                </mat-error>
                <mat-error *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched) && loginForm.get('username')?.errors?.required">
                    El nombre de usuario es obligatorio
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="password1">
                <mat-label>Introduce la contraseña</mat-label>
                <input matInput type="password" placeholder="Contraseña" formControlName="password" value={{loginForm.password}} (input)="loginForm.password=$any($event.target).value" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="!loginForm.get('password')?.errors?.required">
                    Debe tener al menos 4 caracteres
                </mat-error>
                <mat-error *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) && loginForm.get('password')?.errors?.required">
                    La contraseña es obligatoria
                </mat-error>
            </mat-form-field>
            <!-- <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Contraseña" name="password" [(ngModel)]="form.password" required
                            minlength="3" #password="ngModel" />
                        <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                            <div *ngIf="password.errors['required']">La contraseña es requerida</div>
                            <div *ngIf="password.errors['minlength']">
                                La contraseña debe de tener al menos 6 caracteres
                            </div>
                        </div>
                </mat-form-field>
            </p> -->
                <button class="login-button" type="submit" mat-raised-button>Entrar</button>
                
                <mat-error *ngIf="f.submitted && isLoginFailed">
                    Error: el nombre de usuario o la contraseña es incorrecto
                </mat-error>
        </form>
        <div class="alert alert-success" *ngIf="isLoggedIn">
            Logeado como {{ loggedUser }}.
        </div>
    
</mat-card>

<video id="background-video" playsinline autoplay loop muted>
    <source src="assets/img/video2.mp4" type="video/mp4">
</video>

<!--<body>-->
