:host {
    display: flex;
    justify-content: center;
    background-image: url("https://i.ibb.co/fCpnr6T/background.png");
    background-repeat: auto;
    background-size: cover;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.mat-form-field {
    width: 90%;
    /* min-width: 300px; */
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
mat-card-title, mat-card-content {
    display: flex;
    justify-content: center;
}

button {
    width: 90%;
    background-color: #1C5B92;
    color: #fff;
}

.logo {
    width:80%;
    height:50%;
    padding: 0 0 20px 0;
}

mat-card {
    padding-bottom: 30px;
    width: 25%;
    /* height: 40%; */
    /* margin: auto; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-button{
    margin: 10px 0;
}

