<mat-card style="background-color: #ffffffb5;">
    <mat-card-title>
        <img src="https://i.ibb.co/XbWYkTw/NTT-DATA-Logo-Black.png" alt="NTT-DATA-Logo-Black" class="logo">
    </mat-card-title>

        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate [formGroup]="loginForm" novalidate>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombre de usuario en la aplicación</mat-label>
                <input placeholder="Nombre de usuario" formControlName="username" matInput (input)="loginForm.username=$any($event.target).value">
                <mat-error *ngIf="!loginForm.get('username')?.errors?.required">
                    El nombre debe tener al menos 4 caracteres
                </mat-error>
                <mat-error *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched) && loginForm.get('username')?.errors?.required">
                    El nombre de usuario es obligatorio
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="password1">
                <mat-label>Introduce la contraseña</mat-label>
                <input matInput type="password" placeholder="Contraseña" formControlName="password" value={{loginForm.password}} (input)="loginForm.password=$any($event.target).value" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="!loginForm.get('password')?.errors?.required">
                    Debe tener al menos 4 caracteres
                </mat-error>
                <mat-error *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) && loginForm.get('password')?.errors?.required">
                    La contraseña es obligatoria
                </mat-error>
            </mat-form-field>
                <button class="login-button" type="submit" mat-raised-button>Entrar</button>

                <mat-error *ngIf="f.submitted && isLoginFailed">
                    Error: el nombre de usuario o la contraseña es incorrecto
                </mat-error>
        </form>
        <div class="alert alert-success" *ngIf="isLoggedIn">
            Logeado como {{ loggedUser }}.
        </div>

</mat-card>
