:host {
    display: flex;
    justify-content: center;
    background-image: url("https://i.ibb.co/fCpnr6T/background.png");
    background-repeat: auto;
    background-size: cover;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card-title, mat-card-content {
    display: flex;
    justify-content: center;
}

button {
    width: 100%;
    background-color: #1C5B92;
    color: #fff;
}

.logo {
    width:90%;
    height:50%;
   }

mat-card {
    width: 27%;
    height: 40%;
    margin: 100px 0;
}

.login-button{
    margin: 10px 0;
}

.mat-icon-button {
  margin-left: 25%;
}
