/* Color coding info description */
.color-square{
    background-color: white;
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid #1C5B92;
}
.color-info{
    padding: 10px 0;
    /* background-color: white; */
    display: flex;
    justify-content: flex-start;
}
.color-info > div{
    background-color: white;
    padding: 5px 10px;
    border: 1px solid #1C5B92;
    border-width: 1px 1px 1px 0;
    display: flex;
    align-items: center;
}
.color-info > div:nth-child(1){
    border-width: 1px 1px 1px 1px;
}
.color-info span{
    cursor: default;
    padding: 0 5px;
}

/* ********************** */

/* Row colors applied conditionally */
.selection-open{
    background-color: rgba(0, 255, 64, 0.158);
}
.selection-onhold{
    background-color: rgba(255, 166, 0, 0.158);
    color: rgb(172, 171, 171);
}
.selection-priority-high{
    background-color: rgba(255, 0, 0, 0.158);
}
.selection-closed{
    background-color: rgba(202, 202, 202, 0.158);
    color: rgb(172, 171, 171);
}
.selection-end{
    background-color: rgba(202, 202, 202, 0.158);
    color: rgb(172, 171, 171);
}
.flex-spread{
    display: flex;
    justify-content: space-between;
}
/* ********************** */

/* Table column width*/
/* Make "roles" and "add to" row not so big */
/* mat-colum- next to the matColumnDef name to apply style to that column*/
.mat-column-id {
    width: 5%;
}
.mat-column-start_date {
    width: 7%;
}
.mat-column-end_date {
    width: 7%;
}
.mat-column-name {
    width: 15%;
}
.mat-column-description {
    width: 18%;
}
.mat-column-requirements {
    width: 18%;
}
.mat-column-location {
    width: 7%;
}
.mat-column-sector {
    width: 7%;
}
.mat-column-project_id {
    width: 5%;
    text-align: center;
}
.mat-column-create {
    text-align: center;
    width: 5%;
}
