<div class="searchTableFlex">
  <div class="searchBar">
    <mat-form-field class="searchBar" appearance="standard">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder='Ej.: "Javier"' #input>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="button-new" matTooltip="Crear proceso de selección" (click)="openDialogNewSelection()">Crear Proceso <mat-icon>add_circle_outline</mat-icon></button>
  </div>

</div>
  <div class="mat-elevation-z8" id="htmlData">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Núm. </th>
        <!-- Apply classes conditionally asking for priority or status -->
        <td mat-cell matTooltip="Número del proceso" *matCellDef="let row" (click)="openDialogEditSelection(row)" [ngClass]="{
        'selection-open': row.status === 'Abierto',
        'selection-priority-high': row.priority === 'Alta',
        'selection-onhold': row.status === 'Parado',
        'selection-closed': row.status === 'Cerrado',
        'selection-end': row.end_date
        }"> {{row.id}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell matTooltip="Nombre" *matCellDef="let row" (click)="openDialogEditSelection(row)"  [ngClass]="{
        'selection-open': row.status === 'Abierto',
        'selection-priority-high': row.priority === 'Alta',
        'selection-onhold': row.status === 'Parado',
        'selection-closed': row.status === 'Cerrado',
        'selection-end': row.end_date
        }"> {{row.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="start_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Inicio </th>
        <td mat-cell matTooltip="Fecha de inicio" *matCellDef="let row" (click)="openDialogEditSelection(row)"  [ngClass]="{
        'selection-open': row.status === 'Abierto',
        'selection-priority-high': row.priority === 'Alta',
        'selection-onhold': row.status === 'Parado',
        'selection-closed': row.status === 'Cerrado',
        'selection-end': row.end_date
        }"> {{row.start_date}} </td>
      </ng-container>

      <!-- Fruit Column -->
      <ng-container matColumnDef="end_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fin </th>
        <td mat-cell matTooltip="Fecha de fin" *matCellDef="let row" (click)="openDialogEditSelection(row)"  [ngClass]="{
        'selection-open': row.status === 'Abierto',
        'selection-priority-high': row.priority === 'Alta',
        'selection-onhold': row.status === 'Parado',
        'selection-closed': row.status === 'Cerrado',
        'selection-end': row.end_date
        }"> {{returnUndefined(row.end_date)}} </td>
      </ng-container>
      <!-- Fruit Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
        <td mat-cell matTooltip="Descripción" *matCellDef="let row" (click)="openDialogEditSelection(row)"  [ngClass]="{
        'selection-open': row.status === 'Abierto',
        'selection-priority-high': row.priority === 'Alta',
        'selection-onhold': row.status === 'Parado',
        'selection-closed': row.status === 'Cerrado',
        'selection-end': row.end_date
        }"> {{row.description}} </td>
      </ng-container>
      <!-- Fruit Column -->
      <ng-container matColumnDef="requirements">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Requisitos </th>
        <td mat-cell matTooltip="Requisitos" *matCellDef="let row" (click)="openDialogEditSelection(row)"  [ngClass]="{
        'selection-open': row.status === 'Abierto',
        'selection-priority-high': row.priority === 'Alta',
        'selection-onhold': row.status === 'Parado',
        'selection-closed': row.status === 'Cerrado',
        'selection-end': row.end_date
        }"> {{row.requirements}} </td>
      </ng-container>
      <!-- Fruit Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ubicación </th>
        <td mat-cell matTooltip="Ubicación" *matCellDef="let row" (click)="openDialogEditSelection(row)"  [ngClass]="{
        'selection-open': row.status === 'Abierto',
        'selection-priority-high': row.priority === 'Alta',
        'selection-onhold': row.status === 'Parado',
        'selection-closed': row.status === 'Cerrado',
        'selection-end': row.end_date
        }"> {{row.location}} </td>
      </ng-container>
      <!-- Fruit Column -->
      <ng-container matColumnDef="sector">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sector </th>
        <td mat-cell matTooltip="Sector" *matCellDef="let row" (click)="openDialogEditSelection(row)"  [ngClass]="{
        'selection-open': row.status === 'Abierto',
        'selection-priority-high': row.priority === 'Alta',
        'selection-onhold': row.status === 'Parado',
        'selection-closed': row.status === 'Cerrado',
        'selection-end': row.end_date
        }"> {{row.sector}} </td>
      </ng-container>
      <!-- Fruit Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <!-- <td mat-cell matTooltip="Roles" *matCellDef="let row" > {{arrayToString(row.roles)}} </td> -->
        <!-- <td mat-cell matTooltip={{arrayToString2(row.roles)}} *matCellDef="let row" > <div *ngFor="let role of row.roles">{{role.name}}</div> </td> -->
        <td mat-cell matTooltip="Estado" *matCellDef="let row" (click)="openDialogEditSelection(row)"  [ngClass]="{
        'selection-open': row.status === 'Abierto',
        'selection-priority-high': row.priority === 'Alta',
        'selection-onhold': row.status === 'Parado',
        'selection-closed': row.status === 'Cerrado',
        'selection-end': row.end_date
        }"> {{row.status}} </td>
      </ng-container>
      <ng-container matColumnDef="project_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cód. Proyecto </th>
        <td mat-cell matTooltip="Código de proyecto" *matCellDef="let row" (click)="openDialogEditSelection(row)"  [ngClass]="{
        'selection-open': row.status === 'Abierto',
        'selection-priority-high': row.priority === 'Alta',
        'selection-onhold': row.status === 'Parado',
        'selection-closed': row.status === 'Cerrado',
        'selection-end': row.end_date
        }"> {{row.project_id}} </td>
      </ng-container>
      <ng-container matColumnDef="remote">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Remoto </th>
        <td mat-cell matTooltip="Remoto" *matCellDef="let row" (click)="openDialogEditSelection(row)"  [ngClass]="{
        'selection-open': row.status === 'Abierto',
        'selection-priority-high': row.priority === 'Alta',
        'selection-onhold': row.status === 'Parado',
        'selection-closed': row.status === 'Cerrado',
        'selection-end': row.end_date
        }"> {{row.remote}} </td>
      </ng-container>
      <ng-container matColumnDef="create">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Añadir </th>
        <td mat-cell matTooltip="Selecciona este proceso" *matCellDef="let row" [ngClass]="{
          'selection-open': row.status === 'Abierto',
          'selection-priority-high': row.priority === 'Alta',
          'selection-onhold': row.status === 'Parado',
          'selection-closed': row.status === 'Cerrado',
          'selection-end': row.end_date
          }">
          <button mat-mini-fab color="primary" aria-label="Añadir" (click)="sendRowDataToInterview(row)"> <mat-icon>add</mat-icon> </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay datos para la búsqueda "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>

  </div>
  <div class="color-info">
    <div matTooltip="Proceso abierto">
      <span> Proceso abierto: </span>
      <span class="selection-open color-square"></span>
    </div>
    <div matTooltip="Proceso parado">
      <span> Proceso parado: </span>
      <span class="selection-onhold color-square"></span>
    </div>
    <div matTooltip="Prioridad alta">
      <span> Prioridad alta: </span>
      <span class="selection-priority-high color-square"></span>
    </div>
    <div matTooltip="Proceso cerrado">
      <span> Proceso cerrado: </span>
      <span class="selection-closed color-square"></span>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="col-md-4 text-right">
    <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="downloadPDF()">Download PDF</button>
</div>

