<div class="searchTableFlex">
  <div class="searchBar">
    <mat-form-field class="searchBar" appearance="standard">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder='Ej.: "Javier"' #input>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="button-new" matTooltip="Crear candidato" (click)="openDialogNewCandidate()">Crear Candidato <mat-icon>add_circle_outline</mat-icon></button>
  </div>

</div>
  <div class="mat-elevation-z8" id="candidate-table">
    <!-- Sort by column "name" and "asc" order by default -->
    <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Núm. </th>
        <td mat-cell matTooltip="Número de usuario" *matCellDef="let row" (click)="openDialog(row)"> {{row.id}} </td>
      </ng-container>
      <!-- state Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell matTooltip="Estado" *matCellDef="let row" (click)="openDialog(row)"> {{row.state}} </td>
      </ng-container>
      <!-- name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell matTooltip="Nombre" *matCellDef="let row" (click)="openDialog(row)"> {{row.name}} </td>
      </ng-container>
      <!-- surname Column -->
      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
        <td mat-cell matTooltip="Apellido" *matCellDef="let row"(click)="openDialog(row)"> {{row.surname}} </td>
      </ng-container>
      <!-- location Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ubicación </th>
        <td mat-cell matTooltip="Ubicación" *matCellDef="let row" (click)="openDialog(row)"> {{row.location}} </td>
      </ng-container>
      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell matTooltip="Email" *matCellDef="let row" (click)="openDialog(row)"> {{row.email}} </td>
      </ng-container>
      <!-- telephone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
        <td mat-cell matTooltip="Teléfono" *matCellDef="let row" (click)="openDialog(row)"> {{row.phone}} </td>
      </ng-container>
      <!-- skills Column -->
      <ng-container matColumnDef="skills">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Habilidades </th>
        <td mat-cell matTooltip="Habilidades" *matCellDef="let row" (click)="openDialog(row)"> {{row.skills}} </td>
      </ng-container>
      <!-- studies Column -->
      <ng-container matColumnDef="studies">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estudios </th>
        <td mat-cell matTooltip="Estudios" *matCellDef="let row" (click)="openDialog(row)"> {{row.studies}} </td>
      </ng-container>
      <!-- experience Column -->
      <ng-container matColumnDef="experience">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Exp </th>
        <td mat-cell matTooltip="Experiencia" *matCellDef="let row" (click)="openDialog(row)"> {{row.experience}} </td>
      </ng-container>
      <!-- export to pdf Column -->
      <ng-container matColumnDef="pdf">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pdf </th>
        <td mat-cell matTooltip="Exportar a Pdf" *matCellDef="let row" > <button  mat-mini-fab color="button-delete" (click)="printDoc(row)" aria-label="Añadir">
          <mat-icon>picture_as_pdf</mat-icon></button></td>
      </ng-container>
      <!-- add to interview Column, shown only on interview view -->
      <ng-container matColumnDef="create" *ngIf="newInterviewView === true">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Añadir </th>
        <td mat-cell matTooltip="Selecciona este candidato" *matCellDef="let row"><button mat-mini-fab color="button-add" aria-label="Añadir" (click)="sendRowDataToInterview(row)">
          <mat-icon>add</mat-icon></button>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay datos para la búsqueda "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
  </div>
  <br>
  <div class="align-right">
    <button mat-raised-button color="button-save" matTooltip="Exportar a Excel" (click)="exportToExcel()">Exportar a Excel</button>
  </div>
  <br>
  <br>
  <br>
