/* Material table. Required for it to fill whole table */
table, mat-form-field {
    width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 98%;
}
/* Hover over a table row */
tr.mat-row:hover {
  background-color: #9fc6e970;
  cursor: pointer;
}
.searchTableFlex{
  display: flex;
  align-items: center;
}
.searchBar{
  flex-grow: 1;
}
.mat-button-new {
  background-color: #1c5b92;
  color: #fff;
}
.mat-button-new:hover {
  background-color: #007bff;
}
