/* Table column width*/
/* Make "roles" and "add to" row not so big */
/* mat-colum- next to the matColumnDef name to apply style to that column*/
.mat-column-interview_date {
    width: 12%;
}
.mat-column-status {
    width: 12%;
}

/* ********************** */

/* Interview status text color */
.interview-planned{
    color: #2e2bff;
    font-weight: 500;
}
.interview-cancel{
    color: rgb(224, 0, 0);
    font-weight: 500;
}
.interview-closed{
    color: rgb(53, 124, 3);
    font-weight: 500;
}