<!-- Close button -->
<span mat-dialog-close matTooltip="Cerrar" class="mat-close-button"><mat-icon>close</mat-icon></span>

<h4>Nuevo candidato: <span>{{newCandidate.name}} {{newCandidate.surname}}</span></h4>

<form [formGroup]="newCandidateForm" novalidate class="example-form">

    <mat-form-field class="full-width select" appearance="fill">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="state" [(value)]="newCandidate.state">
        <mat-option value="Pendiente validación CV">Pendiente validación CV</mat-option>
        <mat-option value="Pendiente entrevista">Pendiente entrevista</mat-option>
        <mat-option value="Pendiente Carta Oferta">Pendiente Carta Oferta</mat-option>
        <mat-option value="Acepta Carta Oferta">Acepta Carta Oferta</mat-option>
        <mat-option value="Rechaza Carta Oferta">Rechaza Carta Oferta</mat-option>
        <mat-option value="Contratado">Contratado</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="flex">

      <mat-form-field class="half-width half-width-margin-right" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input placeholder="Nombre" formControlName="name" placeholder="Ej. Jorge" matInput #message maxlength="256" value={{newCandidate.name}} (input)="newCandidate.name=$any($event.target).value" >
        <mat-hint align="start"><strong>Nombre</strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        <mat-error *ngIf="!newCandidateForm.get('name')?.errors?.required">
          El nombre debe tener al menos 4 caracteres
        </mat-error>
        <mat-error *ngIf="newCandidateForm.get('name')?.invalid && (newCandidateForm.get('name')?.dirty || newCandidateForm.get('name')?.touched) && newCandidateForm.get('name')?.errors?.required">
          El nombre es obligatorio
       </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Apellido</mat-label>
        <input placeholder="Apellido" formControlName="surname" placeholder="Ej. Fernandez" matInput #message maxlength="256" value={{newCandidate.surname}} (input)="newCandidate.surname=$any($event.target).value" >
        <mat-hint align="start"><strong>Apellido</strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        <mat-error *ngIf="!newCandidateForm.get('surname')?.errors?.required">
          El apellido debe tener al menos 4 caracteres
        </mat-error>
        <mat-error *ngIf="newCandidateForm.get('surname')?.invalid && (newCandidateForm.get('surname')?.dirty || newCandidateForm.get('surname')?.touched) && newCandidateForm.get('surname')?.errors?.required">
          El apellido es obligatorio
        </mat-error>
      </mat-form-field>

    </div>

    <br>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Ubicación</mat-label>
      <input placeholder="Ubicación" formControlName="location" placeholder="Ej. Sevilla" matInput value={{newCandidate.location}} (input)="newCandidate.location=$any($event.target).value" >
      <mat-error *ngIf="!newCandidateForm.get('location')?.errors?.required">
        La ubicación debe tener al menos 4 caracteres
      </mat-error>
      <mat-error *ngIf="newCandidateForm.get('location')?.invalid && (newCandidateForm.get('location')?.dirty || newCandidateForm.get('location')?.touched) && newCandidateForm.get('location')?.errors?.required">
        La ubicación es obligatorio
      </mat-error>
    </mat-form-field>

    <br>

    <div class="flex">
      <mat-form-field class="half-width half-width-margin-right" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ej. jorge.fernandez@nttdata.com" value={{newCandidate.email}} (input)="newCandidate.email=$any($event.target).value">
        <mat-error *ngIf="!newCandidateForm.get('email')?.errors?.required && (newCandidateForm.get('email')?.errors?.pattern)">
          Introduzca una dirección válida
        </mat-error>
        <mat-error *ngIf="newCandidateForm.get('email')?.invalid && (newCandidateForm.get('email')?.dirty || newCandidateForm.get('email')?.touched) && newCandidateForm.get('email')?.errors?.required">
            El email es obligatorio
        </mat-error>
      </mat-form-field>

      <mat-form-field class="half-width" appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input type="text" matInput formControlName="phone" placeholder="Ej. 654321654" value={{newCandidate.phone}} (input)="newCandidate.phone=$any($event.target).value">
        <mat-error *ngIf="!newCandidateForm.get('phone')?.errors?.required">
          Debe tener al menos 9 caracteres
        </mat-error>
        <mat-error *ngIf="newCandidateForm.get('phone')?.invalid && (newCandidateForm.get('phone')?.dirty || newCandidateForm.get('phone')?.touched) && newCandidateForm.get('phone')?.errors?.required">
            El teléfono es obligatorio
        </mat-error>
      </mat-form-field>

    </div>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Estudios</mat-label>
      <input placeholder="Estudios" formControlName="studies" placeholder="Ej. FP" matInput value={{newCandidate.studies}} (input)="newCandidate.studies=$any($event.target).value">
      <mat-error *ngIf="!newCandidateForm.get('studies')?.errors?.required">
        La formación debe tener al menos 4 caracteres
      </mat-error>
      <mat-error *ngIf="newCandidateForm.get('studies')?.invalid && (newCandidateForm.get('studies')?.dirty || newCandidateForm.get('studies')?.touched) && newCandidateForm.get('studies')?.errors?.required">
        La formación es obligatorio
      </mat-error>
    </mat-form-field>

    <br>

    <div class="flex">

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Experiencia</mat-label>
        <input placeholder="Experiencia" formControlName="experience" placeholder="Ej. 3 años" matInput type="number" value={{newCandidate.experience}} (input)="newCandidate.experience=$any($event.target).value">
        <mat-error *ngIf="newCandidateForm.get('experience')?.invalid && (newCandidateForm.get('experience')?.dirty || newCandidateForm.get('experience')?.touched) && newCandidateForm.get('experience')?.errors?.required">
          La experiencia es obligatoria
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Habilidades</mat-label>
      <textarea placeholder="Habilidades" formControlName="skills" placeholder="Ej. Java" matInput value={{newCandidate.skills}} (input)="newCandidate.skills=$any($event.target).value" placeholder="Ej: Java"></textarea>
      <mat-error *ngIf="!newCandidateForm.get('skills')?.errors?.required">
        Las habilidades deben tener al menos 4 caracteres
      </mat-error>
      <mat-error *ngIf="newCandidateForm.get('skills')?.invalid && (newCandidateForm.get('skills')?.dirty || newCandidateForm.get('skills')?.touched) && newCandidateForm.get('skills')?.errors?.required">
        Las habilidades son obligatorias
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Notas</mat-label>
      <textarea placeholder="Notas" formControlName="notes" matInput value={{newCandidate.notes}} (input)="newCandidate.notes=$any($event.target).value" placeholder="Ej: Recomendado por ..."></textarea>
      <mat-error *ngIf="!newCandidateForm.get('notes')?.errors?.required">
        Las notas deben tener al menos 4 caracteres
      </mat-error>
      <mat-error *ngIf="newCandidateForm.get('notes')?.invalid && (newCandidateForm.get('notes')?.dirty || newCandidateForm.get('notes')?.touched) && newCandidateForm.get('notes')?.errors?.required">
        Las notas son obligatorias
      </mat-error>
    </mat-form-field>

</form>
<span class="warning-missing-fields">Todos los campos con * son requeridos</span>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close matTooltip="Cancelar" color="button-cancel">Cancelar</button>
    <!-- Use a function to close the dialog instead -->
    <button mat-raised-button [disabled]="!newCandidateForm.valid" [mat-dialog-close]="true" matTooltip="Guardar" color="button-save" mat-raised-button (click)="saveCandidate()">Guardar</button>
</mat-dialog-actions>

