body{
    background-color: #9fc6e96e;
    font-family: 'Titillium Web', sans-serif;
    padding: 0;
    margin: 0;
}

.nav-link {
    font-size: 1.5rem;
}

.navbar-dark {
    color: #E7E9E8;
}

.copyright {
    color: #E7E9E8;
    font-size: 1.3rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* ********************** */

/* Footer styling */
footer {
    position: fixed; bottom:0; width: 100%;
}

/* ********************** */
/* Material table styling */

tbody{
    border-top: 2px solid #9FC6E9!important;
}
table{
    width: 100%;
}

/* Table search and create button next to it */
.searchTableFlex{
    display: flex;
    align-items: center;
}
.searchBar{
    flex-grow: 1;
}
/* search field size */
.mat-form-field {
    font-size: 14px;
    width: 98%;
}

/* Table title color */
.mat-header-cell {
    background: #1C5B92;
    color: #fff;
    font-size: 1rem;
}

/* Table header sort arrow color */
.mat-sort-header-arrow {
    color: #fff !important;
}

/* Hover effect on table rows */
tr.mat-row:hover {
    background-color: #9fc6e970;
    cursor: pointer;
}

/* Table paginator */
/* Table bottom paginator */
.mat-paginator {
    background: #1C5B92;
    color: #fff;
    font-size: .8rem;
}
/* Number of results text color */
.mat-select-value-text, .mat-select-arrow{
    color: #fff;
}

/* ********************** */

/* Snackbar styling */
.mat-snack-bar-container{
    color: black !important;
    background-color: white!important;
    border: 1.5px solid #1c5b92 !important;
    text-align: center;
}
.mat-simple-snackbar-action {
    color: black;
}
.mat-simple-snackbar span {
    margin: auto;
    text-align: center;
    font-size: 18px;
}

/* ********************** */

/* Material buttons custom colors */

/* Button color tag translates into mat- */
/* color="button-save" will use mat-button-save class */
.mat-button-save {
    background-color: #28A745;
    color: #fff;
}
.mat-button-save:hover {
    background-color: #05c732;
}

.mat-button-delete {
    background-color: #DC3545;
    color: #fff;
}
.mat-button-delete:hover {
    background-color: #ff0019;
}
.mat-button-new {
    background-color: #1c5b92;
    color: #fff;
}
.mat-button-new:hover {
    background-color: #007bff;
}

/* ********************** */

/* Close button used on all modal except interview */
.mat-close-button{
    float: right;
    cursor: pointer;
    padding-left: 10px;
    font-size: 1.5rem;
}

/* ********************** */

/* Material tabs custom style */
.mat-tab-label-active {
    color: #1C5B92 !important;
    border-bottom: 6px solid #1C5B92;
} 
.remove-border-bottom .mat-tab-header {
    border-bottom: none;
}
.mat-ink-bar{
    background-color: #fff !important;
}

/* ********************** */

/* Material expansion panel */
/* Center description */
.mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
    max-width: 60%;
}

/* ********************** */

/* Dialog class styling on interview view */
/* Used on interview details modal */
.dialog-big{
    height: 80%;
    position: relative!important;
}

/* CSS for dialog close button */
/* Used to fix a display error when using expansion panel and tables inside modal */

.mat-close-button-interview{
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 14px;
    min-width: auto;
}

/* ********************** */

/* Styling for xng-breadcrumb */
.xng-breadcrumb-root {
    padding: 8px 16px;
    border-radius: 0px;
    background-color: #ffffff59;
    border-bottom: 1px solid #1C5B92;
}
.xng-breadcrumb-separator {
    padding: 0 4px;
}

/* ********************** */

/* Tooltip style */
.mat-tooltip {
    color: black!important;
    font-size: 15px;
    background: #fff;
    white-space: pre-wrap;
    border: 1px solid black;
}
