/* You can add global styles to this file, and also import other style files */

*{
    background-color: #9FC6E9;
    font-family: 'Titillium Web', sans-serif;
}

.nav-link {
    font-size: 1.5rem;
}

.navbar-dark {
    color: #E7E9E8;
}

.copyright {
    color: #E7E9E8;
    font-size: 1.3rem;
}