/* You can add global styles to this file, and also import other style files */

body{
    /* background-color: #9FC6E9; */
    background-color: #9fc6e96e;
    font-family: 'Titillium Web', sans-serif;
    padding: 0;
    margin: 0;
}

.nav-link {
    font-size: 1.5rem;
}

.navbar-dark {
    color: #E7E9E8;
}

.copyright {
    color: #E7E9E8;
    font-size: 1.3rem;
}

footer {
    position: fixed; bottom:0; width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-header-cell {
    background: #1C5B92;
    color: #fff;
    font-size: 1rem;
}
/* .mat-cell:hover {
    background: #1C5B92;
    color: #fff;
    font-size: 1rem;
} */
/* Material table sort arrow color */
.mat-sort-header-arrow {
    color: #fff !important;
    /* opacity: 1 !important; */
}
.mat-paginator {
    background: #1C5B92;
    color: #fff;
    font-size: .8rem;
}
.mat-select-value-text, .mat-select-arrow{
    color: #fff;
}

/* AppUsers list -> make non active AppUsers grey */
.make-grey{
    /* background-color: rgba(202, 202, 202, 0.281); */
    background-color: rgba(202, 202, 202, 0.158);
    color: rgb(172, 171, 171);
    /* text-decoration: line-through; */
}

/* Snackbar styling */
.mat-snack-bar-container{
  color: black !important;
  background-color: white!important;
  /* border-radius: 30px; */
  border: 1.5px solid #1c5b92 !important;
  text-align: center;
}
.mat-simple-snackbar-action {
  color: black;
}

.mat-simple-snackbar span {
  margin: auto;
  text-align: center;
  font-size: 18px;
}

/* Dialog class styling */
/* Used on interview details modal */
.dialog-big{
    height: 80%;
    /* max-width: 100vw;
    width: 90vw; */
}

/* Button custom colors */

/* Buttons CSS */
/* Button color tag translates into mat- */
.mat-button-save {
    background-color: #28A745;
    color: #fff;
}
.mat-button-save:hover {
    background-color: #05c732;
}