.btn {
    background-color: #00C1CD;
    color: #E7E9E8;
    position: absolute;
    border-radius: 30px;
    width: 250px;
}

.bg-image {
    background-size: cover;
}
/* :host{
    background-image: url("https://i.ibb.co/1GfgPrn/fondologo.jpg");
    background-repeat: auto;
    background-size: cover;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100  
} */