<mat-accordion multi style="margin-bottom: 20px">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Seleccione su filtro...
      </mat-panel-title>
      <mat-panel-description *ngIf="panelOpenState">
        Seleccione un filtro para desplegar sus estadísticas
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              Mensualmente
            </mat-panel-title>
            <mat-panel-description>
              Muestra el número de entrevistas por mes, en un rango de meses
            </mat-panel-description>
          </mat-expansion-panel-header>
        <section style="margin-top: 10px; display: flex; align-items: center; justify-content: center">
          <mat-form-field appearance="fill" style="display: flex; align-items:center; justify-content: center">
            <mat-label>Desde - Hasta</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
              <input matStartDate formControlName="start">
              <input matEndDate formControlName="end">
            </mat-date-range-input>
            <mat-hint>DD/MM/YYYY - DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker startView="multi-year" (closed)="statsMode = 1"></mat-date-range-picker>
          </mat-form-field>
        </section>
    </mat-expansion-panel>
    <button style="margin-top: 10px" [disabled]="!range.valid" mat-flat-button color="primary" (click)="stats()">Mostrar</button>
  </mat-expansion-panel>
</mat-accordion>
<div *ngIf="statsMode" class="container" style="border-radius: 10px 10px; margin-top: 20px; margin-bottom: 20px; background-color: rgb(255, 255, 255);">
  <canvas baseChart [data]="chartData" [options]="chartOptions" [type]="chartType"></canvas>
</div>
<table class="table table-responsive table-condensed">
  <tr>
    <th *ngFor="let label of chartData?.labels"></th>
  </tr>
  <tr *ngFor="let d of chartData?.datasets; let i=index" [class]="'line-'+i">
    <td *ngFor="let label of chartData?.labels; let j=index">{{d && d.data[j]}}</td>
  </tr>
</table>