.mat-form-field + .mat-form-field
{
    margin-left: 8px;
}

.flexMe
{
  display: flex;
  align-items: center;
}

table, mat-form-field {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 98%;
}
/* Hover over a table row */
tr.mat-row:hover {
  background-color: #9fc6e970;
  cursor: pointer;
}

/* .align-right{
  float: right;
  margin: 15px 0;
} */
.mat-button-save {
  background-color: #28A745;
  color: #fff;
}
.mat-button-save:hover {
  background-color: #05c732;
}
.mat-button-new {
  background-color: #1c5b92;
  color: #fff;
}
.mat-button-new:hover {
  background-color: #007bff;
}
.searchTableFlex{
  display: flex;
  align-items: center;
}
.searchBar{
  flex-grow: 1;
}

/* Color coding info description */
.color-square{
  background-color: white;
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #1C5B92;
}
.color-info{
  padding: 10px 0;
  /* background-color: white; */
  display: flex;
  justify-content: flex-end;
}
.color-info > div{
  background-color: white;
  padding: 5px 10px;
  border: 1px solid #1C5B92;
  border-width: 1px 1px 1px 0;
  display: flex;
  align-items: center;
}
.color-info > div:nth-child(1){
  border-width: 1px 1px 1px 1px;
}
.color-info span{
  padding: 0 5px;
}

/* Row colors applied conditionally */
.selection-open{
  background-color: rgba(0, 255, 64, 0.158);
  /* background: linear-gradient(
      to bottom,
      white 0%,
      white 50%,                                                                 
      rgb(0, 255, 64) 50%,
      rgb(0, 255, 64) 100%
  ); */
}
.selection-onhold{
  background-color: rgba(255, 166, 0, 0.158);
  color: rgb(172, 171, 171);
}
.selection-priority-high{
  background-color: rgba(255, 0, 0, 0.158);
}

.selection-closed{
  background-color: rgba(202, 202, 202, 0.158);
  color: rgb(172, 171, 171);
}
.selection-end{
  background-color: rgba(202, 202, 202, 0.158);
  color: rgb(172, 171, 171);
}