<mat-accordion multi style="margin-bottom: 20px">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Seleccione su filtro...
      </mat-panel-title>
      <mat-panel-description *ngIf="panelOpenState">
        Seleccione un filtro para desplegar sus estadísticas
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-expansion-panel (opened)="lastStatsMode=1">
        <mat-expansion-panel-header>
            <mat-panel-title>
              Mensualmente
            </mat-panel-title>
            <mat-panel-description>
              Muestra el número de entrevistas por mes, en un rango de meses
            </mat-panel-description>
          </mat-expansion-panel-header>
        <section style="margin-top: 10px; display: flex; align-items: center; justify-content: center">
          <mat-form-field appearance="fill" style="display: flex; align-items:center; justify-content: center">
            <mat-label>Desde - Hasta</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
              <input matStartDate formControlName="start" readonly>
              <input matEndDate formControlName="end" readonly>
            </mat-date-range-input>
            <mat-hint>MM/YYYY - MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker" (click)="lastStatsMode = 1"></mat-datepicker-toggle>
            <mat-date-range-picker #picker color="primary" startView="multi-year"></mat-date-range-picker>
          </mat-form-field>
        </section>
    </mat-expansion-panel>
  <mat-expansion-panel (opened)="lastStatsMode=2">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Candidatos
      </mat-panel-title>
      <mat-panel-description>
        Evolución mensual de candidatos activos en un proceso
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="searchBar">
      <mat-form-field class="searchBar" appearance="standard">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder='Ej.: "Spring"' #input>
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Núm. </th>
          <!-- Apply classes conditionally asking for priority or status -->
          <td mat-cell matTooltip="Número de proyecto" *matCellDef="let row" (click)="setProcess(row.name, row.id)" [ngClass]="{
          'selection-open': row.status === 'Abierto', 
          'selection-priority-high': row.priority === 'Alta', 
          'selection-onhold': row.status === 'Parado',
          'selection-closed': row.status === 'Cerrado', 
          'selection-end': row.end_date
          }"> {{row.id}} </td>
        </ng-container>
  
        <!-- Progress Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell matTooltip="Nombre" *matCellDef="let row" (click)="setProcess(row.name, row.id)" [ngClass]="{
          'selection-open': row.status === 'Abierto', 
          'selection-priority-high': row.priority === 'Alta', 
          'selection-onhold': row.status === 'Parado',
          'selection-closed': row.status === 'Cerrado', 
          'selection-end': row.end_date
          }"> {{row.name}} </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="start_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Inicio </th>
          <td mat-cell matTooltip="Fecha de inicio" *matCellDef="let row" (click)="setProcess(row.name, row.id)" [ngClass]="{
          'selection-open': row.status === 'Abierto', 
          'selection-priority-high': row.priority === 'Alta', 
          'selection-onhold': row.status === 'Parado',
          'selection-closed': row.status === 'Cerrado', 
          'selection-end': row.end_date
          }"> {{row.start_date}} </td>
        </ng-container>
  
        <!-- Fruit Column -->
        <ng-container matColumnDef="end_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fin </th>
          <td mat-cell matTooltip="Fecha de fin" *matCellDef="let row" (click)="setProcess(row.name, row.id)" [ngClass]="{
          'selection-open': row.status === 'Abierto', 
          'selection-priority-high': row.priority === 'Alta', 
          'selection-onhold': row.status === 'Parado',
          'selection-closed': row.status === 'Cerrado', 
          'selection-end': row.end_date
          }"> {{returnUndefined(row.end_date)}} </td>
        </ng-container>
        <!-- Fruit Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
          <td mat-cell matTooltip="Descripción" *matCellDef="let row" (click)="setProcess(row.name, row.id)" [ngClass]="{
          'selection-open': row.status === 'Abierto', 
          'selection-priority-high': row.priority === 'Alta', 
          'selection-onhold': row.status === 'Parado',
          'selection-closed': row.status === 'Cerrado', 
          'selection-end': row.end_date
          }"> {{row.description}} </td>
        </ng-container>
        <!-- Fruit Column -->
        <ng-container matColumnDef="requirements">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Requisitos </th>
          <td mat-cell matTooltip="Requisitos" *matCellDef="let row" (click)="setProcess(row.name, row.id)" [ngClass]="{
          'selection-open': row.status === 'Abierto', 
          'selection-priority-high': row.priority === 'Alta', 
          'selection-onhold': row.status === 'Parado',
          'selection-closed': row.status === 'Cerrado', 
          'selection-end': row.end_date
          }"> {{row.requirements}} </td>
        </ng-container>
        <!-- Fruit Column -->
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ubicación </th>
          <td mat-cell matTooltip="Ubicación" *matCellDef="let row" (click)="setProcess(row.name, row.id)" [ngClass]="{
          'selection-open': row.status === 'Abierto', 
          'selection-priority-high': row.priority === 'Alta', 
          'selection-onhold': row.status === 'Parado',
          'selection-closed': row.status === 'Cerrado', 
          'selection-end': row.end_date
          }"> {{row.location}} </td>
        </ng-container>
        <!-- Fruit Column -->
        <ng-container matColumnDef="sector">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sector </th>
          <td mat-cell matTooltip="Sector" *matCellDef="let row" (click)="setProcess(row.name, row.id)" [ngClass]="{
          'selection-open': row.status === 'Abierto', 
          'selection-priority-high': row.priority === 'Alta', 
          'selection-onhold': row.status === 'Parado',
          'selection-closed': row.status === 'Cerrado', 
          'selection-end': row.end_date
          }"> {{row.sector}} </td>
        </ng-container>
        <!-- Fruit Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
          <td mat-cell matTooltip="Estado" *matCellDef="let row" (click)="setProcess(row.name, row.id)" [ngClass]="{
          'selection-open': row.status === 'Abierto', 
          'selection-priority-high': row.priority === 'Alta', 
          'selection-onhold': row.status === 'Parado',
          'selection-closed': row.status === 'Cerrado', 
          'selection-end': row.end_date
          }"> {{row.status}} </td>
        </ng-container>
        <ng-container matColumnDef="project_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº Proyecto </th>
          <td mat-cell matTooltip="Nº Proyecto" *matCellDef="let row" (click)="setProcess(row.name, row.id)" [ngClass]="{
          'selection-open': row.status === 'Abierto', 
          'selection-priority-high': row.priority === 'Alta', 
          'selection-onhold': row.status === 'Parado',
          'selection-closed': row.status === 'Cerrado', 
          'selection-end': row.end_date
          }"> {{row.project_id}} </td>
        </ng-container>
        <ng-container matColumnDef="remote">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Remoto </th>
          <td mat-cell matTooltip="Remoto" *matCellDef="let row" (click)="setProcess(row.name, row.id)" [ngClass]="{
          'selection-open': row.status === 'Abierto', 
          'selection-priority-high': row.priority === 'Alta', 
          'selection-onhold': row.status === 'Parado',
          'selection-closed': row.status === 'Cerrado', 
          'selection-end': row.end_date
          }"> {{row.remote}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay datos para la búsqueda "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
    </div>
  </mat-expansion-panel>
    <div style="margin-top: 10px; flex: center; align-items: center; justify-content: space-around">
      <button [disabled]="!range.valid && !processId" mat-flat-button color="primary" (click)="stats()">Mostrar</button>
      <button style="margin-left: 10px" [disabled]="!statsMode" mat-flat-button color="accent" (click)="lastStatsMode = 0; stats()">Limpiar</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<div id="box" class="container" layout="row" layout-align="center center" style="border-radius: 10px 10px; margin-top: 20px; margin-bottom: 20px; background-color: rgb(255, 255, 255)">
  <mat-card *ngIf="!statsMode" style="margin-left: 30px">
    <mat-card-subtitle style="text-align: center">Total Candidates</mat-card-subtitle>
    <mat-card-title style="text-align: center">{{totalCandidates}}</mat-card-title>
  </mat-card>
  <div class="container" style="width: 40vw">
    <canvas baseChart [data]="chartData" [options]="chartOptions" [type]="chartType"></canvas>
  </div>
  <mat-card *ngIf="!statsMode" style="margin-right: 30px">
    <mat-card-subtitle style="text-align: center">Average Hiring</mat-card-subtitle>
    <mat-card-title style="text-align: center">{{averageHiring}} days</mat-card-title>
  </mat-card>
</div>
<table *ngIf="chartType == 'line'" class="table table-responsive table-condensed">
  <tr *ngFor="let d of chartData?.datasets; let i=index" [class]="'line-'+i">
    <td *ngFor="let label of chartData?.labels; let j=index"></td>
  </tr>
</table>

<br>
<br>
<br>