<!-- We use Form Validation in the template:

    username: required, minLength=3, maxLength=20
    email: required, email format
    password: required, minLength=3 -->


<div class="col-md-12">
    <div class="card card-container">
        <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="username">Nombre de usuario</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
                    minlength="3" maxlength="20" #username="ngModel" />
                <div class="alert-danger" *ngIf="username.errors && f.submitted">
                    <div *ngIf="username.errors['required']">Nombre de usuario requerido</div>
                    <div *ngIf="username.errors['minlength']">
                        El nombre de usuario debe de tener al menos 3 caracteres
                    </div>
                    <div *ngIf="username.errors['maxlength']">
                        El nombre de usuario debe de tener máximo 20 caracteres
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
                    #email="ngModel" />
                <div class="alert-danger" *ngIf="email.errors && f.submitted">
                    <div *ngIf="email.errors['required']">Email requerido</div>
                    <div *ngIf="email.errors['email']">
                        Pon una dirección de email válida
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                    minlength="3" #password="ngModel" />
                <div class="alert-danger" *ngIf="password.errors && f.submitted">
                    <div *ngIf="password.errors['required']">Contraseña requerida</div>
                    <div *ngIf="password.errors['minlength']">
                        La contraseña debe tener al menos 6 caracteres
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Registro</button>
            </div>
            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                ¡Registro fallido!<br />{{ errorMessage }}
            </div>
        </form>
        <div class="alert alert-success" *ngIf="isSuccessful">
            ¡Registro completado!
        </div>
    </div>
</div>